hydra-core
rich
pydantic
scikit-learn
pandas
numpy
datasets==2.16
langchain
python-dotenv
langchain-openai
accelerate
sentence-transformers
torch
matplotlib
python-dotenv
mlflow
optuna
langchain_community
fastapi
uvicorn
setfit
tenacity
typer
huggingface_hub==0.23
fast-fit>=1.2.1
transformers
pyyaml
statsmodels
nltk
pandera
